body {
  margin: 0;
  padding: 0;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  font-family: Arial, sans-serif;
}

canvas {
  background: #ff8;
  border: 3px solid #000;
  display: block;
}
